<ion-header>
  <ion-toolbar>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Equipo 1:</ion-label>
        <ion-input [(ngModel)]="data.equipo1.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Goles Equipo 1:</ion-label>
        <ion-input [(ngModel)]="data.equipo1.goles"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Equipo 2:</ion-label>
        <ion-input [(ngModel)]="data.equipo2.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Goles Equipo 2:</ion-label>
        <ion-input [(ngModel)]="data.equipo2.goles"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Arbitro:</ion-label>
        <ion-input [(ngModel)]="data.arbitro"></ion-input>
      </ion-item>

      <ion-button (click)="nuevoResultado()">Crear</ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>